/* 基础样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 通用样式 */
h2 {
    font-family: 'fredoka', cursive; /* 使用 Phudu 字体 */
    font-weight: 500; /* 加粗 */
}

p {
    font-family: 'Poppins', serif; 
    font-weight: 400; /* 正常 */
}



/* 导航按钮容器 */
.navigation-buttons {
    position: fixed; /* 固定在页面顶部 */
    top: 0;
    right: 0; /* 右对齐 */
    left: auto; /* 清除左侧对齐 */
    width: auto; /* 自动宽度 */
    padding: 10px 20px; /* 上下内边距和左右内边距 */
    display: flex;
    justify-content: flex-end; /* 右对齐 */
    z-index: 1000; /* 确保按钮在其他内容之上 */
    background-color: transparent; /* 背景色设置为透明 */
    backdrop-filter: blur(5px); /* 可选：模糊背景 */
    opacity: 0; /* 初始状态为完全透明 */
    transition: opacity 1s ease-in-out; /* 淡入效果 */
}

/* 当页面加载完成后的状态 */
.navigation-buttons.show {
    opacity: 1 !important; /* 页面加载完成后变为完全不透明 */
}

/* 单个按钮样式 */
.navigation-buttons button {
    margin-left: 15px; /* 按钮之间的间距 */
    padding: 10px 20px; /* 内边距 */
    border: none; /* 去掉边框 */
    background-color: transparent; /* 背景色设置为透明 */
    color: rgba(50, 27, 165, 0.8); /* 字体颜色，带透明度 */
    font-size: 16px; /* 字体大小 */
    cursor: pointer; /* 鼠标指针变为手型 */
    transition: color 0.3s ease; /* 平滑的颜色过渡 */
    font-family: 'Poppins', serif; 
    font-weight: 400; /* 正常 */
}

/* 鼠标悬停时的样式 */
.navigation-buttons button:hover {
    color: #8a2be2; /* 更深的紫色 */
}

/* 去掉焦点轮廓 */
.navigation-buttons button:focus {
    outline: none;
}

/* 汉堡菜单样式 */
.hamburger-menu {
    display: none; /* 默认隐藏 */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1001; /* 确保在导航按钮之上 */
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #6F3B95; /* 与按钮颜色一致 */
    margin: 4px 0;
    transition: 0.4s;
}

/* 移动设备样式 */
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex; /* 在移动设备上显示汉堡菜单 */
    }

    .navigation-buttons {
        display: none; /* 默认隐藏导航按钮 */
        flex-direction: column;
        position: fixed;
        top: 60px; /* 根据汉堡菜单位置调整 */
        right: 20px;
        background-color: rgba(255, 255, 255, 0.9); /* 半透明背景 */
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .navigation-buttons.show {
        display: flex; /* 点击汉堡菜单时显示导航按钮 */
    }
}

/* 公司形象部分样式 */
.company-image {
    position: relative;
    width: 100%;
    min-height: 100vh; /* 根据需要调整高度 */
    background: url('img/1.png') no-repeat center center / cover;
    background-attachment:scroll; /* 固定背景图片 */
    color: white;
    overflow: hidden;
}

.logo-container {
    position: absolute;
    top: 52%; /* 根据需要调整位置 */
    left: calc(100% - 40vw); /* 动态调整水平位置 */
    z-index: 10; /* 确保Logo在最上层 */
    width: 40vw; /* 动态调整容器宽度 */
    max-width: 700px; /* 最大宽度限制 */
    text-align: center; /* 确保Logo居中 */

}
.company-logo {
    max-width: 100%; /* 设置最大宽度 */
    max-height: 100%; /* 设置最大高度 */
    height: auto; /* 确保Logo按比例缩放 */
    border-radius: 10px;
    opacity: 0; /* 初始透明度为0 */
    transition: opacity 2s ease-in-out; /* 添加过渡效果 */
    display: inline-block; /* 确保Logo居中 */
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3)); /* 为Logo添加阴影 */
}


/* 文字容器 */
.text-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-out;
    z-index: 10; /* 确保Logo在最上层 */
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 文字淡入效果 */
.company-image.show .text-container,
.company-image.show .company-logo { /* 确保Logo也淡入 */
    opacity: 1;
    transform: translateY(0);
}

/* 标题和描述样式 */
.company-title {
    font-size: 2vw;
    margin-bottom: 10px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 初始状态：无阴影 */
    font-family: 'Open Sans', cursive;
    font-weight: 700; /* 加粗 */
}

.company-description {
    font-size: 1.8vw;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 初始状态：无阴影 */
    font-family: 'Open Sans', cursive;
}

.background-with-lightwave {
    position: relative;
    width: 100%; /* 根据需要调整 */
    height: 100vh; /* 根据实际背景图片高度调整 */
    background-size: cover;
    overflow: hidden; /* 确保伪元素不超出容器 */
}


.background-with-lightwave::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%; /* 宽度应大于容器宽度，以确保覆盖整个区域 */
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0));
    /* 上面的渐变色可以根据需要调整透明度和颜色 */
    transform: skewX(-20deg); /* 可选：倾斜效果，使光线看起来更有动感 */
    z-index: 1; /* 确保光波在背景图之上 */
    animation: slideAndFade 4s ease-in-out forwards; /* 动画名称、时长、缓动函数、保持最后一帧 */
}

@keyframes slideAndFade {
    0% {
        left: -100%;
        opacity: 1; /* 开始时完全可见 */
    }
    75% {
        left: 100%;
        opacity: 1; /* 当光波移动到最右边时仍然可见 */
    }
    100% {
        left: 100%;
        opacity: 0; /* 动画结束时透明度为0，光波消失 */
    }
}

/* 内容部分样式 */
.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
}

.section-content {
    max-width: 800px;
}

.section-content h2 {
    margin-bottom: 20px;
}

.section-content p {
    margin-bottom: 20px;
}

.section-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* 图片容器样式 */

.background1 {
    position: relative;
    width: 100%;
    height: 30vh; /* 根据需要调整高度 */
    background: url('img/A1\ 2.png') no-repeat center center / cover;
    background-attachment:scroll; /* 固定背景图片 */
    color: white;
    overflow: hidden;
    opacity: 0.8; /* 80% 透明度 */
}

.background2 {
    position: relative;
    width: 100%;
    height: 30vh; /* 容器高度，根据需要调整 */
    background: url('img/AI 3 - 複製.png') no-repeat center / 100% auto;
    background-attachment: scroll; /* 固定背景图片 */
    color: white;
    overflow: hidden;
    opacity: 0.8; /* 80% 透明度 */
}

.background3 {
    position: relative;
    width: 100%;
    height: 30vh; /* 根据需要调整高度 */
    background: url('img/AI\ 5.png') no-repeat 10% center/ cover;
    background-attachment:scroll; /* 固定背景图片 */
    color: white;
    overflow: hidden;
    opacity: 0.8; /* 80% 透明度 */
}

/* 团队图片样式 */
.team-images {
    display: flex;
    justify-content: space-around;
    gap: 10px; /* 图片之间的间距 */
}

.team-images img {
    max-width: 30%; /* 根据需要调整宽度 */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: contain; /* 确保图片不会变形 */
}
/* 团队部分样式 */
.team-section {
    padding: 40px 20px; /* 上下内边距 40px，左右内边距 20px */
    background-color: #f9f9f9; /* 背景色 */
    text-align: center; /* 内容居中 */
}

.team-section .section-content {
    max-width: 800px; /* 内容最大宽度 */
    margin: 0 auto; /* 水平居中 */
    padding: 0 20px; /* 默认左右内边距 */
}

.team-section h2 {
    font-size: 28px; /* 标题字体大小 */
    color: #6F3B95; /* 标题颜色 */
    margin-bottom: 20px; /* 标题与段落之间的间距 */
}

.team-section p {
    font-size: 17px; /* 正文字体大小 */
    line-height: 2; /* 行高，增加可读性 */
    color: #555; /* 正文颜色 */
    text-align: left; /* 段落文字左对齐 */
    margin-bottom: 0; /* 去掉段落底部默认的外边距 */
}

/* 关于我们部分样式 */
.about-section {
    padding: 40px 20px; /* 上下内边距 40px，左右内边距 20px */
    background-color: #ffffff; /* 背景色 */
    text-align: center; /* 内容居中 */
}

.about-section .section-content {
    max-width: 800px; /* 内容最大宽度 */
    margin: 0 auto; /* 水平居中 */
    padding: 0 20px; /* 默认左右内边距 */
}

.about-section h2 {
    font-size: 28px; /* 标题字体大小 */
    color: #6F3B95; /* 标题颜色 */
    margin-bottom: 20px; /* 标题与段落之间的间距 */
}

.about-section p {
    font-size: 17px; /* 正文字体大小 */
    line-height: 2; /* 行高，增加可读性 */
    color: #555; /* 正文颜色 */
    text-align: left; /* 段落文字左对齐 */
    margin-bottom: 0; /* 去掉段落底部默认的外边距 */
}

/* 响应式设计 */
@media (max-width: 1200px) {
    .logo-container {
        left: calc(100% - 65vw); /* 屏幕变小时，向左移动 */
        width: 60vw; /* 屏幕变小时，缩小容器宽度 */
    }
}

@media (max-width: 768px) {
    .company-image {
        background-size: cover; /* 确保图片填满屏幕 */
        background-position: center; /* 确保图片居中 */
        min-height: 50vh; /* 根据需要调整高度 */
    }    
    .content-section {
        padding: 30px 10px;
    }

    .team-images {
        flex-direction: column;
        align-items: center;
    }

    .team-images img {
        max-width: 60%;
    }
    .text-container {
        width: 90%; /* 在移动端适当增加宽度 */
        padding: 20px; /* 增加内边距以提高可读性 */
    }

    .company-title {
        font-size: 1.5em; /* 在小屏幕上减小字体大小 */
        margin-bottom: 15px; /* 调整标题和描述之间的间距 */
    }

    .company-description {
        font-size: 1em; /* 在小屏幕上减小字体大小 */
    }
}

@media (max-width: 480px) {
    .company-image {
        height: 40vh;
    }

    .company-logo {
        max-height: 80px;
    }
    .text-container {
        width: 95%; /* 进一步增加宽度 */
        padding: 15px; /* 减少内边距 */
    }

    .company-title {
        font-size: 1.2em; /* 更进一步减小字体大小 */
        margin-bottom: 10px; /* 调整标题和描述之间的间距 */
    }

    .company-description {
        font-size: 0.9em; /* 更进一步减小字体大小 */
    }
    .logo-container {
        left: calc(100% - 75vw); /* 屏幕变小时，向左移动 */
        width: 70vw; /* 屏幕变小时，缩小容器宽度 */
    }
}

@media (max-width: 768px) {
    .section-content {
        max-width: 85%; /* 在小屏幕上减小最大宽度 */
        padding: 0 15px; /* 增加左右内边距 */
    }
}

@media (max-width: 480px) {
    .section-content {
        max-width: 95%; /* 在超小屏幕上进一步减小最大宽度 */
        padding: 0 10px; /* 进一步增加左右内边距 */
    }
}


.business-section {
    padding: 20px;
    text-align: center;
}

.business-section h2 {
    font-size: 28px; /* 标题字体大小 */
    color: #6F3B95; /* 标题颜色 */
    margin-bottom: 20px; /* 标题与段落之间的间距 */
}

.business-content {
    max-width: 30%; /* 根据需要调整宽度 */
    display: flex;
    justify-content: space-between;
    gap: 20px; /* 设置两块之间的间距 */
    margin: 0 auto; /* 自动居中 */
}

.business-block {
    flex: 1; /* 让每个业务块平分剩余空间 */
    background-color: #f9f9f9; /* 可选：给每个业务块添加背景色 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* 确保列表项是左对齐的 */
}

.business-block h3 {
    margin-bottom: 15px;
    font-family: 'Fredoka', serif; 
    font-weight: 500; /* 正常 */
}

.business-block ul {
    list-style-type: disc; /* 使用默认的圆点样式 */
    padding-left: 20px; /* 设置内边距以确保列表项有足够的缩进 */
}

.business-block li {
    margin-bottom: 10px; /* 设置列表项之间的间距 */
    font-family: 'Poppins', serif; 
    font-weight: 400; /* 正常 */
    font-size: 17px; /* 正文字体大小 */
    line-height: 1.8; /* 行高，增加可读性 */
    color: #555; /* 正文颜色 */
    text-align: left; /* 段落文字左对齐 */

}
/* 按钮样式 */
.button-container {
    margin-top: 20px;
    text-align: center; /* 确保按钮居中显示 */
}

.select-portfolio-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #6F3B95;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select-portfolio-btn:hover {
    background-color: #ad86bd;
}

/* 空白间距 */
.spacer {
    height: 50px; /* 空白高度 */
}

/* 空白间距 */
.spacer1 {
    height: 50px; /* 空白高度 */
}


/* contact 格式设置 */
.contact-section {
    text-align: center; /* 内容居中 */
    padding: 20px;
    background-color: #f9f9f9; /* 背景色 */
    border-top: 1px solid #ddd; /* 顶部边框 */
}

.contact-section h2 {
    font-size: 28px; /* 标题字体大小 */
    color: #6F3B95; /* 标题颜色 */
    margin-bottom: 20px; /* 标题与段落之间的间距 */
}

.contact-section p {
    margin: 0;
    line-height: 1.8; /* 行高，增加行与行之间的间距 */
}
/* 响应式设计 */
@media (max-width: 768px) {
    .business-content {
        flex-direction:column; /* 在小屏幕上垂直排列 */
        align-items: center; /* 居中对齐 */
        width: 100%; /* 占满整个宽度 */
    }

    .business-block {
        width: 180%; /* 占满整个宽度 */
        margin-bottom: 20px; /* 增加业务块之间的间距 */
    }
}

/* Logo 容器样式 */
.logo1-container {
    text-align: center; /* 居中 */
    margin: 20px 0;     /* 上下间距 */
}

/* Logo 图片样式 */
.logo1-container img {
    width: 100px;       /* 调整 Logo 宽度 */
    height: auto;       /* 高度自适应 */
}

/* 横线样式 */
hr {
    border: 0;
    height: 1px;
    background: #ddd;   /* 横线颜色 */
    margin: 20px 0;     /* 上下间距 */
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
}
.copyright a {
    color: #666;
    text-decoration: none;
}
.copyright a:hover {
    text-decoration: underline;
}

